@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  text-decoration: none;
}
*:focus {
  outline: none;
}

:root {
  --background: #fff;
  --foreground: #000;
  --color-secondary: #f5f4fa;
  --color-primary: #14133d;
  --black: #222628;
  --gray: #767676;
  --line: #e5e5e5;
  --card-outline: #8384c9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}
